body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

.profile-img {
    width: 5px;
    height: 5px;
    object-fit: cover;
    border: 4px solid #f8f9fa;
}

.skill-card {
    transition: transform 0.2s;
}

.skill-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}