#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
}

#container {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    height: 100%;;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

#hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

h1 {
    font-size: 30px;
    margin-top: 0.25em;;
}

#links {
    display: flex;
    gap: 16px;
}

#links a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #111827;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

#links a:hover {
    color: rgb(78, 80, 86);
}

#links a.btnProjects {
    color: white;
    background-image: linear-gradient(90deg, #ff7e5f, #feb47b);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#links a.btnContact{
    color: #111827; 
}

#links a.btnProjects:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
}

h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
}

p {
    color: #4b5563;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: -0.006em;
    margin: 0;
}

.box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
}

#news {
    position: absolute;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    text-decoration: none; 
    transition: background 0.2s ease-in-out;
    backdrop-filter: blur(50px);
}

#news:hover {
    background: rgba(255, 255, 255, 0.55);
}

/* Navbar */
.icon {
    
}